<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Todo List</title>
</head>

<body>
  <div class="todos">
    <h1>To do List</h1>
    <a href="/todos" class="default">Todo items</a>
  </div>
</body>

</html>